body{
	background-color:#ffffff;
	color:#046E48;
}
h1{
	text-transform: capitalize;
	font-size:28px;
	font-weight:normal;
}
h2{

}
#slogan{
	font-style: italic;
	text-align: center;
}
#contact{
	text-decoration: none;
	font-size:28px;
	font-weight:normal;
}

