* {margin:0;padding:0;box-sizing:border-box; }
body{
	background: url(images/harbg1.jpg) no-repeat center center fixed;
	background-size: cover;
	color:#ffffff;
	font-size: 16px;
	font-family: 'Open Sans Condensed', sans-serif;	
}
h1, h2 {
	font-family: 'Playfair Display', serif;
	text-align:center;
}
h1{
	font-size:50px;
	font-style:italic;
}
h2{
}
img.displayed {
	opacity: 0.6;
	display: block;
	margin-left: auto;
	margin-right: auto 
}
p{
	text-align: center;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
