* { margin:0; padding:0; box-sizing:border-box; }
body{
	background: url(images/harbg1.jpg) no-repeat center center fixed;
	background-size: cover;
	color:#ffffff;
	font-size: 24px;
	font-family: 'Playfair Display', serif;
}
section:nth-child(odd) {
	background-color:rgba(30,30,30,.4);
}
footer {
  	text-align: center;
  	padding: 1em 0;
  	clear: both;
}

h1{
	text-align: center;
	font-size:50px;
	font-style:italic;
	clear: both;
}

h2{
	text-align: center;
	clear: both;
}
p{
	font-family: 'Proxima Nova', sans-serif;	
	font-size: 24px;
	clear: both;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', sans-serif;	
  font-size: 28px;
  clear: both;
}

nav{
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	background-color: #8fefc8;

}
#about {
	font-size: 1.2em;
	width: 46%;
	padding: 2%;
	float: left;
}
#portfolio{
	margin-left: auto;
	margin-right: auto;
}
.displayed{
	float: right;
	display:block;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
