* { margin:0; padding:0; box-sizing:border-box; }
p+p, li+li {
	margin-top:1em;
}
body{
	background: url(images/harbg1.jpg) no-repeat center center fixed;
	background-size: cover;
	color:#ffffff;
	font-size: 24px;
	font-family: 'Playfair Display', serif;
}
header {
	max-width:1200px;
	margin:auto;
}
nav {
	float:right;
}
nav a {
	background:#8f3fc8;
	border-radius:50%;
	display:block;
	float:left;
	margin:.5em;
	padding:.5em;
	position: relative;
	font-family: 'Proxima Nova', sans-serif;
}
nav img {
	width:3em;
}
nav span {
	position: absolute;
	width: 100%;
	bottom: -30px;
	text-align: center;
	margin: 0 -0.5em;
	display: none;
}
nav a:hover span {
	display: block;
	color: white;
}
section {
	padding:4em 0;
}

section:nth-child(odd) {
	background-color:rgba(143,63,200,.8);
}
section.work {
	background:rgba(143,239,200,0);
	width:50%;
	float:left;
	padding:.5em;
}
section.work:hover {
	background:rgba(143,239,200,.8);
	transition-duration:.2s;
}
footer {
  	text-align: center;
  	padding: 1em 0;
  	clear: both;
}

h1{
	font-size:2em;
	font-style:italic;
	float:left;
}

h2{
	text-align: center;
	clear: both;
}
p{
	font-family: 'Proxima Nova', sans-serif;
	font-size: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', sans-serif;	
  font-size: 28px;
  clear: both;
}
#about {
	max-width:1200px;
	margin:auto;
	position:relative;
}
#about .wrapper {
	font-size: 0;
}
#about .wrapper div {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	padding-right: 30px;
}
#about .wrapper .displayed{
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}
#contact {
	padding-bottom: 3em;
}
#contact p {
  	text-align: center;
}
#portfolio{
	margin-left: auto;
	margin-right: auto;
}
#social {
	text-align:center;
}
#social img {
	margin:.5em;
}
.work img {
	width:100%;
}
.wrapper {
	max-width:1200px;
	margin:auto;
}
#services .wrapper {
	font-size: 0px;
}
#services .wrapper h2 {
	font-size: 36px;
}
#services ul, #services div.desc {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
@media (max-width: 1000px) {

	h1 {
		float: none;
		text-align: center;
	}
	nav {	
		float: none;
		text-align: center;
	}
	nav a {
		margin: .2em;
		float: none;
		display: inline-block;
	}
	nav a img {
		width: 1.7em;
	}
	#about .wrapper .displayed{
		width: 100%;
	}
	#services ul, #services div.desc {
		margin-top: 30px;
		width: 100%;
	}
	section.work {
	width:100%;
	}
	#social img{
		width: 16%;
		margin: 1%;
	}
	#about .wrapper div{
		width: 100%;
		padding: 20px; 
	}
	section {
		padding: 1em;
	}
	#services li {
		text-align: center;
		font-size: 2em;
	}


}
